:root{
    --blue-color:#335576;
    --white-color: #FFFFFF;
    --lightblue-color: #B5DDDE;
    --rose-color:#FEFAF5;
    --orange-color:#DB7A4E;
--light-orange-color: #fce8e0;
--black-color: #000;
--black-opacity: rgba(0, 0, 0, 0.2);
--font-family: Verdana, Geneva, Tahoma, sans-serif;
--box-shadow:0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
*,*::before,*::after{
    box-sizing:border-box
}

a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img,picture{
    max-width:100%;
    display:block
}